:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white: #ffffff;
  --secondary-white: rgba(255, 255, 255, 0.6);
  --footer-bc: #2f303a;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

footer {
  background-color: #2f303a;
}

header {
  background-color: #ffffff;
}

.visually-hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .main-nav {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    margin-right: 305px;
  }
}

.header-navigation {
  display: flex;
}

.menu-open {
  background: transparent;
  border: none;
  color: #ffffff;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-close {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

.mob-menu-icon-open {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .mob-menu-icon-open {
    display: none;
  }
}

.mob-menu-icon-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-close {
  margin-left: 0;
}

.menu-close:focus .mob-menu-icon-close {
  fill: var(--accent-color);
}

.mob-menu-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.mob-menu-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  text-decoration: none;
  color: #212121;
}

.mob-menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
  text-decoration: none;
}

.mob-menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mob-menu-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.mob-social-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.mob-social-link {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 10px;
  text-decoration: none;
}

.mob-social-item {
  display: flex;
  margin-right: 10px;
}

.mob-social-item:last-child {
  margin-right: 0;
}

.mob-social-item::after {
  content: "";
  display: block;
  height: 22px;
  width: 1px;
  background-color: #757575;
}

.mob-social-item:last-child::after {
  display: none;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu-link:focus {
  color: var(--accent-color);
}

.mob-menu-link.current {
  color: var(--accent-color);
}

.logo {
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--accent-color);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    margin-top: 24px;
    margin-bottom: 25px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
  }
}

.logo-second-color {
  color: #000000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo-second-color {
    font-size: 26px;
    line-height: 1.19;
  }
}

.site-nav .link {
  margin-right: 50px;
}

.site-nav .link:last-child {
  margin-right: 0;
}

.site-nav {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .site-nav {
    width: 294px;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 0;
  }
}

.site-nav-link {
  padding: 32px 0;
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover, .site-nav-link:focus {
  color: var(--accent-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-link-thumb {
  position: relative;
}

.site-nav-link-thumb::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.cont-nav {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .cont-nav {
    display: block;
    margin-left: 0;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .cont-nav {
    display: flex;
    align-items: center;
  }
}

.cont-nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-nav-link:hover, .cont-nav-link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .cont-nav-link {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .cont-nav .link {
    margin-right: 0;
  }
  .cont-nav .link:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .cont-nav .link {
    margin-right: 30px;
  }
  .cont-nav .link:first-child {
    margin-bottom: 0;
  }
  .cont-nav .link:last-child {
    margin-right: 0;
  }
}

.footer-contacts-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  width: 16px;
  height: 12px;
}

.tel-icon {
  width: 10px;
  height: 16px;
  align-items: baseline;
}

.cont-nav-link:hover .footer-contacts-icon, .cont-nav-link:focus .footer-contacts-icon {
  fill: var(--accent-color);
}

.hero {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__text {
  margin: 0 auto;
  color: var(--primary-white);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero__text {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__text {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.overlay {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.webp);
}

@media screen and (min-width: 1200px) {
  .overlay {
    width: 100%;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.webp);
  }
}

.button {
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  color: var(--primary-white);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: var(--primary-white);
  background-color: #188ce8;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.benefits__pasteboard-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .benefits__pasteboard-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.pasteboard-list__description {
  margin-bottom: 30px;
}

.pasteboard-list__description:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.pasteboard-list__description::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .pasteboard-list__description {
    width: calc(100% / 2 - 15px);
    margin-left: 30px;
  }
  .pasteboard-list__description:nth-child(2n + 1) {
    margin-left: 0;
  }
  .pasteboard-list__description:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .pasteboard-list__description {
    width: calc(100% / 4 - 23px);
    margin-bottom: 0;
  }
  .pasteboard-list__description:nth-child(3) {
    margin-left: 30px;
  }
}

.item-antena::before {
  background-image: url(../images/antenna.svg);
}

.item-clock::before {
  background-image: url(../images/clock.svg);
}

.item-diagrama::before {
  background-image: url(../images/diagram.svg);
}

.item-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.pasteboard-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .pasteboard-list__title {
    text-align: start;
  }
}

.pasteboard-list__text {
  line-height: 1.71;
}

.team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__team-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .team__team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-list__description {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-list__description {
    padding-bottom: 30px;
  }
}

.team-list__member {
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__member:last-child {
  margin-bottom: 0;
}

.team-list__member:last-child {
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .team-list__member {
    width: calc(100% / 2 - 15px);
    margin-right: 30px;
  }
  .team-list__member:nth-child(2n + 2) {
    margin-right: 0;
  }
  .team-list__member:nth-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__member {
    width: calc(100% / 4 - 23px);
    margin-bottom: 0;
  }
  .team-list__member:nth-child(3) {
    margin-left: 30px;
  }
}

.team-list__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__social-media {
  display: flex;
  padding-left: 0;
  width: 206px;
  margin: 0 auto;
}

.social-media__img {
  width: 20px;
  height: 20px;
  fill: var(--color3, #afb1b8);
  border-radius: 4px;
  object-fit: contain;
}

.social-media__icon {
  width: 44px;
  height: 44px;
  background-color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__icon:hover, .social-media__icon:focus {
  background-color: var(--accent-color);
  fill: white;
}

.social-media__icon:hover .social-media__img, .social-media__icon:focus .social-media__img {
  fill: white;
}

.social-media__link {
  margin-right: 10px;
}

.social-media__link:last-child {
  margin-right: 0;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__link {
  margin-right: 0;
  width: 100%;
  height: 92px;
  background-color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client__link:hover, .client__link:focus {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  fill: white;
}

.client__link:hover .clients__icon, .client__link:focus .clients__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.clients__card {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc(100% / 2 - 15px);
}

.clients__card:nth-child(2n + 2) {
  margin-right: 0;
}

.clients__card:nth-child(n + 4) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .clients__card {
    width: calc(100% / 3 - 20px);
  }
  .clients__card:nth-child(2) {
    margin-right: 30px;
  }
  .clients__card:nth-child(3) {
    margin-right: 0;
  }
  .clients__card:nth-child(4) {
    margin-right: 30px;
  }
  .clients__card:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__card {
    display: flex;
    flex-wrap: nowrap;
    width: 170px;
  }
  .clients__card:nth-child(3) {
    margin-right: 30px;
  }
  .clients__card:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--color3, #afb1b8);
  border-radius: 4px;
  object-fit: contain;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover, .clients__icon:focus {
  fill: var(--accent-color);
}

.shop {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .shop {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.filter {
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter-btn {
  margin-right: 8px;
}

.filter-btn:last-child {
  margin-right: 0;
}

.filter-btn:nth-child(3) {
  margin-right: 0;
}

.filter-btn:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter-btn:nth-child(-n + 3) {
    margin-bottom: 0;
  }
  .filter-btn:nth-child(3) {
    margin-right: 8px;
  }
}

.shop-filter {
  margin-top: 94px;
}

.filter-button {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: var(--primary-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.shop-text {
  padding: 20px 24px;
}

.shop-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.shop-description {
  font-size: 16px;
  line-height: 1.88;
}

.shop-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .shop-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.shop-block {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-block:hover, .shop-block:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.shop-block:nth-child(3n + 3) {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .shop-block {
    width: calc(100% / 2 - 15px);
  }
  .shop-block:nth-last-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .shop-block {
    width: calc(100% / 3 - 20px);
  }
  .shop-block:nth-child(2n) {
    margin-right: 30px;
  }
  .shop-block:nth-child(3n + 3) {
    margin-right: 0;
  }
  .shop-block:nth-child(n + 6) {
    margin-bottom: 30px;
  }
}

.shop-block-thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 294px;
}

.shop-block-thumb::before {
  position: absolute;
  top: 0;
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  display: inline-block;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
}

.shop-block-wrap:hover .shop-block-thumb::before {
  opacity: 1;
  transform: translate(0);
}

.shop-block-thumb-txt {
  position: absolute;
  display: inline-block;
  top: 63px;
  left: 24px;
  opacity: 0;
  transform: translateY(140%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 322px;
  height: 168px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white);
}

.shop-block-wrap:hover .shop-block-thumb-txt {
  opacity: 1;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policies-main {
  padding: 40px 0 60px;
}

.policies-main h2 {
  margin-bottom: 16px;
  color: var(--title-text-color);
  font-size: 24px;
  line-height: 1.3;
}

.policies-main p {
  margin-bottom: 32px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.7;
  white-space: pre-line;
}

.policies-main p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .policies-main {
    padding-top: 32px;
    padding-bottom: 48px;
  }

  .policies-main h2 {
    font-size: 20px;
  }
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.footer-common {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-common {
    display: flex;
  }
}

.join {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .join {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-bottom: 0;
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .tab-position {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .tab-position {
    display: flex;
    width: 610px;
    justify-content: flex-start;
  }
}

.addres-left {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .addres-left {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .addres-left {
    text-align: left;
    width: 231px;
    margin-right: 70px;
  }
}

.join__txt {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white);
}

.logo-second-color-footer {
  color: var(--primary-white);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo-second-color-footer {
    font-size: 26px;
    line-height: 1.19;
  }
}

.address {
  margin-bottom: 9px;
  color: var(--primary-white);
  font-weight: 400;
  line-height: 1.7;
  font-style: normal;
}

.adress-list {
  margin-top: 20px;
}

.contacts {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  line-height: 1.7;
}

.contacts-link {
  color: var(--secondary-white);
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}

.contact-list {
  margin-bottom: 9px;
}

.contact-list:last-child {
  margin-bottom: 0;
}

.join__social-media {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}

.join .social-media__icon {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join .social-media__icon:hover, .join .social-media__icon:focus {
  background-color: var(--accent-color);
}

.join .social-media__img {
  fill: var(--primary-white);
}

.subscribe {
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-top: 0;
  }
}

.subscribe-text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white);
}

@media screen and (min-width: 1200px) {
  .subscribe-text {
    text-align: start;
  }
}

.subscription-fild {
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .subscription-fild {
    width: 575px;
    display: flex;
  }
}

.subscription-form {
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: var(--primary-white);
}

.subscription-form::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .subscription-form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}

.subscription-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-btn:hover, .subscription-btn:focus {
  background-color: #188ce8;
}

.icon-send {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-send-img {
  height: 24px;
  width: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 40px;
  width: 450px;
  height: 609px;
  background-color: var(--primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.modal-button-close:hover .icon-close-img, .modal-button-close:focus .icon-close-img {
  fill: var(--accent-color);
}

.icon-close-img {
  height: 18px;
  width: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: calc(23 / 20);
  }
}

.form-field {
  width: 448px;
  height: 58px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-field:last-child {
  margin-bottom: 0;
}

.form-field:nth-child(4) {
  height: 138px;
}

.modal-inpute {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 370px;
  padding: 0 0;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-inpute:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal-inpute {
    width: 100%;
  }
}

.modal-inpute:focus + .modal-inpute-icon {
  fill: var(--accent-color);
}

.comment-inpute {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 370px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-inpute::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-inpute:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .comment-inpute {
    width: 100%;
  }
}

.form-field-name {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.custom-icon {
  display: flex;
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-right: 7px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-fild {
  margin-top: 20px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.submit-batton {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-batton:hover {
  background-color: #188ce8;
}

.checkbox-fild-contract {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .checkbox-fild-contract {
    font-size: 14px;
    line-height: 1.71;
  }
}

.inpute-icon-check {
  fill: var(--primary-white);
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.inpute-wrap {
  position: relative;
}

.modal-inpute-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-inpute {
  padding-left: 42px;
}
